@{
    ViewData["Title"] = "Home Page";
}
@model List<Wedding>;
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Welcome to the Wedding Planner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">


                                <form asp-controller="Home" asp-action="Logout" method="POST">
                                    <button class="btn btn-link">Log Out</button>
                                </form>
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

  <div class="card shadow rounded mx-auto w-75 mb-3">

    <table style="width:100%">
      <thead>
        <th>Wedding</th>
        <th>Date</th>
        <th>Address</th>
        <th>Guests</th>
        <th>Action</th>
      </thead>
      @foreach (Wedding Wedding in Model)
{
      <tbody>
        @{

          <tr>
            <td><a href= "/view/@Wedding.WeddingId">@Wedding.WedderOne & @Wedding.WedderTwo</a></td>
            <td>@Wedding.Date</td>
            <td>@Wedding.Address</td>
            <td>@Wedding.RSVPs.Count</td>
            <td>
              <form asp-controller="Weddings" asp-action="RSVP"
              asp-route-WeddingId="@Wedding.WeddingId">
                @{
                  bool alreadyRSVPd = Wedding.RSVPs.Any(RSVP => Context.Session.GetInt32("UserId") == RSVP.UserId);
                }

                <button class="btn btn-outline-info">
                  @if (alreadyRSVPd)
                  {
                    <span>UnRSVP</span>
                  }
                  else
                  {
                    <span>RSVP</span>
                  }
                </button>
              </form>
               @if (Context.Session.GetInt32("UserId") == @Wedding.UserId)
    {
              <form asp-controller="Weddings" asp-action="Delete" asp-route-WeddingId="@Wedding.WeddingId"
       class="d-inline-block">
            <button class="btn btn-outline-danger">Delete</button>
            </form>
    }
            </td>
          </tr>
    
        }
      </tbody>
}
    </table>


  </div>


</div>
<div class="card shadow rounded mx-auto w-75 mb-3"><a href="/New">New Wedding</a></div>