@{
    ViewData["Title"] = "Home Page";
}
@model Dish;

<div class="text-center">
    <h1 class="display-4">Dishes | <a href="/Index">Chefs</a></h1>
    <p class="display-4"><a href="/NewDish">Add a Dish!</a></p>
    <p>Yum, take a look at our tasty dishes</p>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="width: 850px;">
                <tr>
                    <th>Name</th>
                    <th>Chef</th>
                    <th>Tastiness</th>
                    <th>Calories</th>
                </tr>   @{
                    foreach(var d in ViewBag.All)
                    {<tr>
                        <td>@d.DishName</td>
                        <td>@d.Cook.FirstName @d.Cook.LastName</td>
                        <td>@d.Tastiness</td>
                        <td>@d.Calories</td>
                    </tr>
                    }
                }
            </table>
        </div>
</div>
