@{
    ViewData["Title"] = "Home Page";
}
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
<div class="text-center">
    @model Dish

    <h1>@ViewBag.selectedDish.DishName</h1>
    <h4>@ViewBag.selectedDish.ChefName</h4>

    <p>@ViewBag.selectedDish.Description</p>
    <p>Calories: @ViewBag.selectedDish.Calories</p>            
    <p>Tastiness: @ViewBag.selectedDish.Tastiness</p>

			

    <a href="/delete/@ViewBag.selectedDish.DishId"><button><b>Delete Dish</b></button></a>              
    <a href="/Edit/@ViewBag.selectedDish.DishId"><button><b>Edit</b></button></a>
        </div>